<%- include('partials/header'); %>

<h1>Hello!</h1>
<p> <%= homeContent %> </p>

<% homePosts.forEach(function(foundPosts){ %>
  <% let heading = foundPosts.title; %>
  <% let body = foundPosts.body.substr(0,100) + " ..."; %>
  <h1><%= heading  %></h1>
  <p><%= body %></p>
  <a href="/posts/<%=foundPosts._id%>">Read More</a>
<% }); %>

<%- include('partials/footer'); %>
